@font-face {
  font-family: "Thmanyah Serif Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/thmanyahserifdisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Thmanyah Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/thmanyahserifdisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Thmanyah Serif Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/thmanyahserifdisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Thmanyah Serif Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/thmanyahserifdisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Thmanyah Serif Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/thmanyahserifdisplay-Black.woff2") format("woff2");
}
